.image-place {
    padding-top: 40px;
    width: 250px;
    height: 200px;
}
.btn {
    width: 150px;
    height: 30px;
    background-color: blue;
    color: blanchedalmond;
    border: none;
    border-radius: 10px;
}